@font-face {
  font-family: "iconfont"; /* Project id 4874965 */
  src: url('iconfont.woff2?t=1744610069876') format('woff2'),
       url('iconfont.woff?t=1744610069876') format('woff'),
       url('iconfont.ttf?t=1744610069876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti--:before {
  content: "\e627";
}

.icon-fengxianpinggu:before {
  content: "\e603";
}

.icon-bangzhu:before {
  content: "\e601";
}

.icon-internet-icon141x:before {
  content: "\e635";
}

.icon-product-3d-model-icon:before {
  content: "\e604";
}

.icon-zuixin:before {
  content: "\e638";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-dingweixian-:before {
  content: "\e64a";
}

.icon-guanyu:before {
  content: "\e633";
}

.icon-shijuedingwei:before {
  content: "\eb3c";
}

.icon-remenhuodong:before {
  content: "\e613";
}

.icon-pingmuwaiguan:before {
  content: "\e63a";
}

.icon-zifujiance:before {
  content: "\e615";
}

.icon-LockUser:before {
  content: "\e641";
}

.icon-shitushidianguanli:before {
  content: "\e65a";
}

.icon-jiechu:before {
  content: "\e7db";
}

.icon-shijuedingwei-copy:before {
  content: "\eb3d";
}

.icon-guanyu-copy:before {
  content: "\eb3e";
}

.icon-dingweixian--copy:before {
  content: "\eb3f";
}

.icon-shijueshezhi:before {
  content: "\e646";
}

.icon-a-115892:before {
  content: "\e6e9";
}

.icon-guochanhuashipei:before {
  content: "\e70c";
}

.icon-DMODEL:before {
  content: "\e7ee";
}

.icon-gongyejiqiren:before {
  content: "\e623";
}

